ad_ET
ar_SA
az_AZ
bs_BA
dz_BT
eo_XX
es_CO
es_ES
es@tradicional
es_US
iso14651_hack
km_KH
ku_TR
ky_KG
locale_install.sh
locales-hardlink.pl
locales-softlink.pl
locales.sysconfig
locale_uninstall.sh
Makefile
nds_DE@traditional
qo_ET
sq_AL
sw_XX
sx_ET
sz_ET
tg_TJ
tr_TR
vi_VN
wa_BE
yi_US
zh_CN
zh_TW_2
